
apps:
{% for virtual_server in include_magic_variables.virtual_servers %}
- name: {% if virtual_server.full_path is defined %}{{virtual_server.full_path}}{% endif %} 
  type: {% if virtual_server.type is defined %}{{virtual_server.type}}{% endif %} 
  destination_address: {% if virtual_server.destination_address is defined %}{{virtual_server.destination_address}}{% endif %} 
  destination_port: {% if virtual_server.destination_port is defined %}{{virtual_server.destination_port}}{% endif %} 
  availability_status: {% if virtual_server.availability_status is defined %}{{virtual_server.availability_status}}{% endif %} 
  client_ssl: {% for profile in virtual_server.profiles %}{% if profile.context is eq("client-side") %}{% if profile.full_path is defined %}{{profile.full_path}}{% endif %}{% endif %}{% endfor %} 
  cert: {% for profile in virtual_server.profiles %}{% if profile.context is eq("client-side") %}{% if profile.full_path is defined %}{% for client_ssl_profile in include_static_variables.client_ssl_profiles %}{% if profile.full_path is eq (client_ssl_profile.name) %}{% if client_ssl_profile.cert is defined %}{{client_ssl_profile.cert}}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %} 
  chain: {% for profile in virtual_server.profiles %}{% if profile.context is eq("client-side") %}{% if profile.full_path is defined %}{% for client_ssl_profile in include_static_variables.client_ssl_profiles %}{% if profile.full_path is eq (client_ssl_profile.name) %}{% if client_ssl_profile.chain is defined %}{{client_ssl_profile.chain}}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %} 
  options: 
    sslv3: {% for profile in virtual_server.profiles %}{% if profile.context is eq("client-side") %}{% if profile.full_path is defined %}{% for client_ssl_profile in include_static_variables.client_ssl_profiles %}{% if profile.full_path is eq (client_ssl_profile.name) %}{% if client_ssl_profile.options is defined %}{% if client_ssl_profile.options is search("no-sslv3") %}No{% else %}Yes{% endif %}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %} 
    tlsv1: {% for profile in virtual_server.profiles %}{% if profile.context is eq("client-side") %}{% if profile.full_path is defined %}{% for client_ssl_profile in include_static_variables.client_ssl_profiles %}{% if profile.full_path is eq (client_ssl_profile.name) %}{% if client_ssl_profile.options is defined %}{% if client_ssl_profile.options is search("no-tlsv1[^\\.]") %}No{% else %}Yes{% endif %}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %} 
    tlsv1_1: {% for profile in virtual_server.profiles %}{% if profile.context is eq("client-side") %}{% if profile.full_path is defined %}{% for client_ssl_profile in include_static_variables.client_ssl_profiles %}{% if profile.full_path is eq (client_ssl_profile.name) %}{% if client_ssl_profile.options is defined %}{% if client_ssl_profile.options is search("no-tlsv1.1") %}No{% else %}Yes{% endif %}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %} 
    tlsv1_2: {% for profile in virtual_server.profiles %}{% if profile.context is eq("client-side") %}{% if profile.full_path is defined %}{% for client_ssl_profile in include_static_variables.client_ssl_profiles %}{% if profile.full_path is eq (client_ssl_profile.name) %}{% if client_ssl_profile.options is defined %}{% if client_ssl_profile.options is search("no-tlsv1.2") %}No{% else %}Yes{% endif %}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %} 
    tlsv1_3: {% for profile in virtual_server.profiles %}{% if profile.context is eq("client-side") %}{% if profile.full_path is defined %}{% for client_ssl_profile in include_static_variables.client_ssl_profiles %}{% if profile.full_path is eq (client_ssl_profile.name) %}{% if client_ssl_profile.options is defined %}{% if client_ssl_profile.options is search("no-tlsv1.3") %}No{% else %}Yes{% endif %}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %} 
  subject: {% for profile in virtual_server.profiles %}{% if profile.context is eq("client-side") %}{% if profile.full_path is defined %}{% for client_ssl_profile in include_static_variables.client_ssl_profiles %}{% if profile.full_path is eq(client_ssl_profile.name) %}{% if client_ssl_profile.cert is defined %}{% for ssl_cert in include_magic_variables.ssl_certs %}{% if client_ssl_profile.cert is eq(ssl_cert.full_path) %}{% if ssl_cert.subject is defined %}{{ssl_cert.subject}}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %} 
  issuer: {% for profile in virtual_server.profiles %}{% if profile.context is eq("client-side") %}{% if profile.full_path is defined %}{% for client_ssl_profile in include_static_variables.client_ssl_profiles %}{% if profile.full_path is eq(client_ssl_profile.name) %}{% if client_ssl_profile.cert is defined %}{% for ssl_cert in include_magic_variables.ssl_certs %}{% if client_ssl_profile.cert is eq(ssl_cert.full_path) %}{% if ssl_cert.issuer is defined %}{{ssl_cert.issuer}}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %} 
  expiration_date: {% for profile in virtual_server.profiles %}{% if profile.context is eq("client-side") %}{% if profile.full_path is defined %}{% for client_ssl_profile in include_static_variables.client_ssl_profiles %}{% if profile.full_path is eq(client_ssl_profile.name) %}{% if client_ssl_profile.cert is defined %}{% for ssl_cert in include_magic_variables.ssl_certs %}{% if client_ssl_profile.cert is eq(ssl_cert.full_path) %}{% if ssl_cert.expiration_date is defined %}{{ssl_cert.expiration_date}}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %} 
  server_ssl: {% for profile in virtual_server.profiles %}{% if profile.context is eq("server-side") %}{% if profile.full_path is defined %}{{profile.full_path}}{% endif %}{% endif %}{% endfor %} 
  snat_type: {% if virtual_server.snat_type is defined %}{{virtual_server.snat_type}}{% endif %} 
  default_pool: {% if virtual_server.default_pool is defined %}{{virtual_server.default_pool}}{% endif %} 
  monitors: {% if virtual_server.default_pool is defined %}{% for ltm_pool in include_magic_variables.ltm_pools %}{% if virtual_server.default_pool is eq(ltm_pool.full_path) %}{% if ltm_pool.monitors is defined %}{{ltm_pool.monitors}}{% endif %}{% endif %}{% endfor %}{% endif %} 
  lb_method: {% if virtual_server.default_pool is defined %}{% for ltm_pool in include_magic_variables.ltm_pools %}{% if virtual_server.default_pool is eq(ltm_pool.full_path) %}{% if ltm_pool.lb_method is defined %}{{ltm_pool.lb_method}}{% endif %}{% endif %}{% endfor %}{% endif %} 
  members: 
  {% if virtual_server.default_pool is defined %}{% for ltm_pool in include_magic_variables.ltm_pools %}{% if virtual_server.default_pool is eq(ltm_pool.full_path) %}{% if ltm_pool.members is defined -%}{% for member in ltm_pool.members -%} 
  - {% if member.full_path is defined %}{{member.full_path}}{% endif %} ({% if member.state is defined %}{{member.state}}{% endif %}) 
  {% endfor %}{% endif %}{% endif %}{% endfor %}{% endif -%} 
  persistence_profile: {% if virtual_server.persistence_profile is defined %}{{virtual_server.persistence_profile}}{% endif %} 
  irules: {% if virtual_server.irules is defined %}{{virtual_server.irules}}{% endif %} 
  
{% endfor %}
